@font-face {
    font-family: "VT323";
    src: url("fonts/VT323-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: sans-serif;
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #111;
    margin: 0;
}

#score-display {
    font-family: "VT323", Courier, monospace;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #595f43;
    width: 100%;
    max-width: 648px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}

#game-container {
    padding: 5px 5px 0px 5px;
    border-radius: 10px;
    background-color: #595f43;
}
